body {
    margin: 0;
}

h1 {
    font-size: 45px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 20px;
}

#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}

#grid ol {
    border-right: 1px solid gray;
    width: 100px;
    margin: 0;
    padding: 20px;
    padding-left: 33px;
}

#grid #article {
    padding-left: 25px;
}

/* 화면 너비가 800px 보다 작아지면 grid->block 변경, 검정색 테두리 없애기 */
@media(max-width:800px) {
    #grid {
        display: block;
    }

    #grid ol {
        border-right: none;
    }

    h1 {
        border-bottom: none;
    }
}